<%- include('../../partials/t1header'); %>
<%- include('../../partials/t1navbar'); %>
<%- include('../../partials/t1menu'); %>
<%- include('../../partials/t1msg'); %>
<%- include('../../partials/t1scripts'); %>



<main id="main" class="main">

  <div class="pagetitle">
      <h1>Perfiles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/menu"><%= parametros.empresa_nombre %></a></li>
          <li class="breadcrumb-item">Administracion de sistema</li>
          <li class="breadcrumb-item active">Perfiles</li>
        </ol>
      </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
      <div class="row w-100 justify-content-center">
        <div class="col-lg-8">

          <div class="card info-card sales-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-menu-button-wide"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Menu</h6>
                  </li>
                  <li><a class="dropdown-item" href="/security/profiles/add">Agregar registro</a></li>
                </ul>
            </div>

            <div class="card-body">
              <br>

              <!-- Table with stripped rows -->
              <table id="tablaCatalogo" class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody id="tablaCatalogoBody">
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>

          </div>

        </div>
      </div>
  </section>

</main><!-- End #main -->



<script>


  function getData() {
    var tblBody = document.getElementById('tablaCatalogoBody')
    
    fetch('/api/security/profiles').then(
      function (response) {
        return response.json()
      }).then(function (data) {
        var regs = data.body

        for (i = 0; i < regs.length; i++) {
      
          var status = ''

          switch (regs[i].status) {
            case 't':
              status = '<span class="badge bg-success">Activo</span>'
              break;
            case 'f':
              status = '<span class="badge bg-warning">Desactivado</span>'
              break;
            default:
              status = '<span class="badge bg-danger">Baja</span>'
              break;
            }

          var selec = '<a href="/security/profiles/edit/' + regs[i].idx + '" class="btn btn-light btn-sm" title="Upload new profile image">' +
                      '  <i class="bi bi-caret-right"></i>' +
                      '</a>'

          const row = document.createElement("tr")

          const cell1 = document.createElement("td")
          cell1.innerHTML = selec
          row.appendChild(cell1)

          const cell2 = document.createElement("td")
          const cellText2 = document.createTextNode(regs[i].descripcion)
          cell2.appendChild(cellText2)
          row.appendChild(cell2)

          const cell5 = document.createElement("td")
          cell5.innerHTML = status
          row.appendChild(cell5)
          
          tblBody.appendChild(row)
        }

      }) 
  }
  

  function Init() {
    Developer('<%= parametros.developer %>')
    getData()
  }


  window.onload = Init()


</script>



<%- include('../../partials/t1footer'); %>